* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1232px;
  padding: 0 16px;
  margin: 0 auto;
}
@font-face {
  font-family: Cera Pro;
  src: url(./assets/fonts/CeraPro-Regular.woff2);
}
body {
  font-family: Cera Pro, sans-serif;
  padding-top: 71px;
  margin-bottom: 30px;
}
@media screen and (max-width: 650px) {
  body {
    padding-bottom: 44px !important;
  }
}
